@charset "utf-8";
/* CSS Document */

path {
   fill: #D3552C;
   opacity: 0.1;
}

path:hover, path.active {
   opacity: 0.63;
}


svg {
    width: 90%;
    padding-top: 50px;
    padding-left: 5%;
    z-index: 101;
    top: 0px;
    left: 0px;
}
